
<div
  id="dashboard"
  class="m-10"
  server-side-values='<%= @server_side_values.to_json %>'
>
  <div class="inline-block relative w-64">
    <%= select_tag :account, options_for_select(@accounts.map{|ac| [ ac.name, ac.id ] }, nil),
                   {
                       '@change': 'handleAccountChange',
                       class: "block w-full appearance-none border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                   }
    %>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
    </div>
  </div>

  <account :account-id='accountId'></account>
</div>
<% content_for :javascript do %>
  <%= javascript_pack_tag 'dashboard' %>
<% end %>
