
<div
  id="dashboard"
  class="m-10"
  server-side-values='<%= @server_side_values.to_json %>'
>
  <%= select_tag :account, options_for_select(@accounts.map{|ac| [ ac.name, ac.id ] }, nil), {  '@change': 'handleAccountChange' } %>

  <account :account-id='accountId'></account>
</div>
<% content_for :javascript do %>
  <%= javascript_pack_tag 'dashboard' %>
<% end %>
